.calc-chart-container {
    position: relative;
}

#calculation_chart {
    height: 340px;
    width: 340px;
    margin: auto;
}

#xlabel, #ylabel, #intersect {
    position: absolute;
    color: #545454;
    font-size: 80%;
}

#ylabel {
    left: 380px;
    bottom: 130px;
}

#xlabel {
    left: 320px;
    bottom: 220px;
}

#intersect {
    left: 395px;
    bottom: 210px;
}
